<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <h5 class="white-text">E OTORENT COMPANY</h5>
        <p class="grey-text text-lighten-4">Kami adalah sebuah perusahaan penyewa mobil yang berada di Jakarta. Kami beriorientasi pada jasa penyewaan mobil dan keragaman mobil. Telp : (021)89096788 email : deri@gmail.com
          Sudah 5 tahun Perusahaan kami menemani anda dalam perjalanan berharga anda. Kami akan selalu menerima kritik dan saran untuk membangun kami menjadi lebih baik. Untuk itu Anda dapat langsung menemui kami di Pantai Indah
          Kapuk, Cengkareng, Jakarta Barat 133346.
        </p>


      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Deri Kurniwan Materialize CSS</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
